<div>
    <form class="form-horizontal">
        <div class="form-group">
            <div id="competition-selector" class="col-xs-12">
                <label>
                    <span>Select Competition:</span>
                    <select class="form-control" ng-model="selectedCompetition" ng-change="changeCompetition()"
                            ng-options="comp as comp.name for comp in competitions"></select>
                </label>
            </div>
            <div id="event-selector" class="col-xs-12">
                <label>
                    <span>Select Event:</span>
                    <select class="form-control" ng-model="selectedEvent"
                            ng-options="event as event.name for event in events" ng-change="changeEvent()"></select>
                </label>
            </div>
            <div id="search-bar" class="col-xs-12">
                <label>
                    <span>Search Event:</span>
                    <input class="form-control" type="text" ng-model="lookup" typeahead-wait-ms="250"
                           typeahead-min-length="3"
                           typeahead-on-select="searchEvent($item, $model, $label)"
                           typeahead="event as event.name for event in events | filter:$viewValue">
                </label>
            </div>
        </div>

        <div id="dancer-list" class="col-xs-12 well well-lg">
            <ol>
                <li ng-repeat="dancer in selectedCompetitors">{{dancer[0].name}} with {{dancer[1].name}}</li>
            </ol>
        </div>

        <div id="competitor-bar" class="col-xs-12">
            <label>
                <span>Search Competitor:</span>
                <input class="form-control" type="text" ng-model="competitorLookup" typeahead-wait-ms="250"
                       typeahead-min-length="3"
                       typeahead-on-select="searchCompetitor($item, $model, $label)"
                       typeahead="competitor as competitor.name for competitor in competitors | filter:$viewValue">
            </label>
        </div>
        <div id="competitor-well" class="col-xs-12">
            <div id="event-list" class="col-xs-12 well well-lg">
                <ol>
                    <li ng-repeat="event in selectedCompetitor.events">{{getEventName(event)}}</li>
                </ol>
            </div>
        </div>
    </form>

</div>