<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Heat Lists</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="stylesheets/styles.css">
    <script type="application/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <script type="application/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular.min.js"></script>
    <script type="application/javascript"
            src="javascripts/libs/ui-bootstrap-tpls-0.9.0.min.js"></script>
    <script type="application/javascript" src="javascripts/main.js"></script>
</head>
<body>
<div ng-app="dancesportHeatLists" class="container">

    <div ng-controller="CompetitionController">
        <form class="form-horizontal">
            <div class="form-group">
                <div id="competition-selector" class="col-xs-12">
                    <label>
                        <span>Select Competition:</span>
                        <select class="form-control" ng-model="selectedCompetition" ng-change="changeCompetition()"
                                ng-options="comp as comp.name for comp in competitions"></select>
                    </label>
                </div>
                <div id="event-selector" class="col-xs-12">
                    <label>
                        <span>Select Event:</span>
                        <select class="form-control" ng-model="selectedEvent"
                                ng-options="event as event.name for event in events"></select>
                    </label>
                </div>
                <div id="search-bar" class="col-xs-12">
                    <label>
                        <span>Search:</span>
                        <input class="form-control" type="text" ng-model="lookup" typeahead-wait-ms="250"
                               typeahead-min-length="3"
                               typeahead-on-select="select($item, $model, $label)"
                               typeahead="event as event.name for event in events | filter:$viewValue">
                    </label>
                </div>
            </div>
            <div id="dancer-list" class="col-xs-12 well well-lg">
                <ol>
                    <li ng-repeat="dancer in selectedEvent.dancers">{{dancer.name}}</li>
                </ol>
            </div>
            <div>
                <label>
                    <span>Search By Competitor:</span>
                    <input class="form-control" type="text" ng-model="competitorLookup" typeahead-wait-ms="250"
                           typeahead-min-length="3"
                           typeahead-on-select="selectCompetitor($item, $model, $label)"
                           typeahead="competitor as competitor.name for competitor in competitorList | filter:$viewValue">
                </label>
            </div>
            <div id="event-list" class="col-xs-12 well well-lg">
                <ol>
                    <li ng-repeat="event in selectedCompetitor">{{getEventName(event)}}</li>
                </ol>
            </div>
        </form>

    </div>
</div>


</body>
</html>
